
body{
  background: linear-gradient(-45deg, #007bb5, #00b9f5, #23a6d5,#20336b);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    text-align: center;
    font-family: "Times New Roman", Times, serif,cursive;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.topnav {
  overflow: hidden;
  background-color: #20336b;
}
.topnav a{
 float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 12px 5px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav-right {
  float: right;
}
.image{
  height:50px;
  width:55px;
  color:white;
  float: left;
}
.fa {
  padding: 20px;
  font-size: 50%;
  width: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
 .topnav a:hover {
  opacity: 0.7;
}
 .button a:hover {
  opacity: 0.7;
}
.fa:hover {
    opacity: 0.7;
}
.fa-instagram{
  
  color: pink;
}

.fa-youtube {
  
  color:red;
}

.fa-github {
  
  color: black;
}

.fa-linkedin {
  
  color:#007bb5;
}

.viewusers{
  background-color: #272727;
  margin-left: auto; 
  margin-right: auto;
}

table, th, td {
  background-color: white;
  border: 1px solid black;
  width:40%;
}


h1{
	color:white;
	border:2px #solid #35b0f2; 
	font-size:42px;

}
h6{
  color:white;
}

.button a {
  text-decoration: none;
  color:white; 
  width: 100%;
  
}
.button {
    padding: 20px;
    max-width:100% ;
    background-color:#20336b;
    border: #00b9f5;
    margin: auto;    
    border-radius: 30px;
}


@media only screen and (max-width:500px){

    *{
      font-size: 10px;
    }
    #navbar
    {
        padding: 20px;
        padding-right: 30px;
    }
    .nav
    {
        font-size: 30px;
    }
}

.middle
{
  background-color:#20336b;
  position: fixed;
  width: 100%;
  bottom: 8px;
 
}

.btn{
	position: center;
	display: inline-block;
    width:20px;
    height:20px;
    margin: 10px;
    text-align:center;
}
.container{
	background-color: transparent;
    color: black;
    padding: 10px;
    max-width:20% ;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0px;
}

.text{
	font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.form{

    width: 600px;
    margin: 0 auto;

}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #20336b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
 opacity: 0.7;
}

.history{
  width: 20%;
  background-color: #20336b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
table{
    background-color:transparent;
}

.history:hover{
  opacity: 0.7;
}